<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>#BioCitationNeeded: {{name}} ({{id}})</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <h6><a href="index.html">The #BioCitationNeeded project</a></h6>
  <h3>{{name}} ({{id}})</h3>
  {{#citations}}
    {{^tag.description}}{{! get only intro (no tag description) }}
      <p>{{{rendered}}}</p>
    {{/tag.description}}
  {{/citations}}
  <dl>
    {{#citations}}
      {{#tag.description}}{{! all but intro }}
        <dt><h4>{{.}}: <span{{#styling}} class="{{.}}"{{/styling}}>{{{value}}}</span></h4><dt>
        <dd>
          <p>{{{rendered}}}</p>
        </dd>
      {{/tag.description}}
    {{/citations}}
  </dl>
  {{^citations}}
    <em>No information yet...</em>
  {{/citations}}
<hr>
<p>If you believe the information here is <a href="https://xkcd.com/386/">wrong</a> or incomplete
[and have <em>links</em> to back your claim], please <a href="https://swatwt.com/whatmail">let us know</a>.</p>
</body>
</html>
