## The #BioCitationNeeded project

The only non-repetitive stuff is at Israel and United Kingdom, but I hope the
standard of `citations.json` is simple and flexible enough for what we need.

Coming soon: this will be a map

{{#countries}}
* [{{name}}](country-{{id}}.html)
  {{#citations}}
    {{#value}}* {{tag.description}}: *{{.}}*{{/value}}
  {{/citations}}
{{/countries}}

----

[Fork this](https://gist.github.com/thedod/70f3e820380598c352c3)
