<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ביומטריה בעולם</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="html5shiv.min.js"></script>
      <script src="respond.min.js"></script>
    <![endif]-->
    <script src="d3.min.js"></script>
    <script src="topojson.min.js"></script>
    <script src="datamaps.world.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">#BioCitationNeeded</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">English</a></li>
            <li class="active"><a href="index-he.html">עברית</a></li>
            <li><a target="_blank" href="https://gist.github.com/thedod/70f3e820380598c352c3#file-readme-md">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container rtl">
      <div class="row">
        <div class="col-md-12">
          <h3>ביומטריה בעולם</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <form>
            <select class="form-control" size="{{numtags}}" id="tag" onchange="colormap(this.value)">
                {{#tags}}
                  {{#description}}{{! skip intro }}
                    <option value="{{name}}">{{he}}
                  {{/description}}
                {{/tags}}
            </select>
          </form>
        </div>
        <div class="col-md-9">
          <p>
במדינות רבות יש כיום <em>דרכונים</em> ביומטריים, אבל בניגוד ל<a
target="_blank" href="hebrew-gov-report.pdf">משתמע</a>
מ<a
target="_blank" href="https://www.youtube.com/watch?v=VxclO2hNF64">דברי</a>
תומכי המאגר  הביומטרי בישראל, <em>מאגרים</em> ביומטריים יש רק במשטרים דכאניים.
גם הרעיון
{{! Nirshman says it's not good to say this
המיושן
וה<a target="_blank" href="https://archive.today/8TQeW#selection-621.0-621.252">מסוכן</a>
}}
של ת.ז. חובה לכל האזרחים לא אומץ כמובן מאליו בעולם (ולפעמים גם
<a target="_blank" href="https://archive.today/56VM0#selection-673.1-673.248">בוטל</a>).
לחצו על הקטגוריות שבמסגרת ותראו. את המפה המלאה (כולל אוסטרליה) תמצאו
<a href="index.html">כאן</a>.
          </p> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="worldmap" style="margin:4px auto; position:relative; width: 100%; height: 400px"></div>
        </div>
      </div>
      <hr>
      <footer class="ltr">
        If you believe the information here is <a href="https://xkcd.com/386/">wrong</a> or incomplete
        [and have <em>links</em> to back your claim], please
        <a href="https://swatwt.com/whatmail">let us know</a>.
      </footer>
    </div><!-- /.container -->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ie10-viewport-bug-workaround.js"></script>
    <script>
      $(function() {
        colormap(document.getElementById('tag').value);
      });
      var map_data = {
        {{#countries}}
          {{mapid}}: {
            fillKey: "defaultFill",
            hebcountry: "{{he}}",
            {{#citations}}
              {{tag.name}}: {
                styling: "{{#styling}}{{.}}{{/styling}}{{^styling}}defaultFill{{/styling}}",
                value: "{{he}}",
              },
            {{/citations}}
          },
        {{/countries}}
      };
      var slugs = {
        {{#countries}}
          {{mapid}}: "{{id}}",
        {{/countries}}
      };
      var map = new Datamap({
        element: document.getElementById('worldmap'),
        fills: {
          defaultFill: "#7F7F7F",
          good: "#336600",
          bad: "#CC0000",
          complicated: "#3333FF",
          rejected: "#33CC00"
        },
        data: map_data,
        hideAntarctica: true,
        // This projection is a tweak so that Israel doesn't look too small
        // but it crops out stuff. To do: something better.
        setProjection: function(element) {
          var projection = d3.geo.azimuthalEquidistant()
            //.center([31.3, 34.5])
            .center([31, 20])
            .scale(220)
            .translate([element.clientWidth / 2, element.clientHeight / 2])
            .clipAngle(180 - 1e-3)
            .precision(.1);
          var path = d3.geo.path()
            .projection(projection);
          return {path: path, projection: projection};
       },
       geographyConfig: {
         highlightFillColor: '#3F3F3F',
         popupTemplate: function(geography, data) {
          var value = current_tag&&'אין [עדיין] מידע...'||'בחרו מפה...';
          if (current_tag && data[current_tag]) {
               value = data[current_tag].value || value;
          }
          return '<div class="hoverinfo"><strong>' +
            data.hebcountry +
            ':</strong> ' + value + '</div>';
         },
       },
       done: function(datamap) {
         var svg = datamap.svg;
         svg.selectAll('.datamaps-subunit').on('click', function(d) {
           location.href='country-'+slugs[d.id]+'.html';
         });
       }
      });

      function colormap(tag) {
        window.current_tag = tag;
        var colors = {}
        for (country in map_data) {
          colors[country] = { fillKey: map_data[country][tag] && map_data[country][tag].styling || "defaultFill" };
        }
        map.updateChoropleth(colors);
      }
    </script>
  </body>
</html>
