<h5>Contributed by <a href="http://nirshman.com/">Nir Hirshman</a></h5>

<ul>
<li><p><a href="https://archive.today/oAeD8">EFF</a>:</p>

<p><em>the citizens of many countries have successfully opposed biometric national ID
schemes including Australia, Canada, New Zealand, the United Kingdom, and the United States.</em></p></li>
</ul>
