<p>According to <a href="https://en.wikipedia.org/wiki/Countries_applying_biometrics">wikipedia</a>,
<a href="country-gm.html">Gambia</a> and <a href="country-iq.html">Iraq</a> seem to have compulsory
biometric databases for all citizens (This is only a <strong>parial</strong> list. For example: <a href="country-pk.html">Pakistan</a>
isn't mentioned).
In <a href="country-in.html">India</a> it is <a href="https://archive.today/pSsGO">not compulsory</a>, and
in <a href="country-il.html">Israel</a> &mdash; it's considered to be at a "pilot" stage, so
citizens can still refuse to submit their biometric data.</p>
