<h4>Causes for concern</h4>

<ul>
<li><p><a href="https://archive.today/9Ua5O#selection-1151.0-1151.300">Sydney Morning Herald, October 16, 2014</a>:</p>

<p><em>The "foreign fighters" bill means there will be a major expansion of facial
recognition imaging of Australians passing through international airports in
a crackdown on passport fraud that could eventually apply to a wide range of
biometric data – which could be shared with other government agencies.</em></p></li>
</ul>
