<ul>
<li><p><a href="https://archive.today/aiqoj">EFF</a>:</p>

<p><em>The Government of Kenya has implemented a process for voter registration
that uses biometric fingerprint and facial identification technologies.</em></p></li>
</ul>
