<h5>Contributed by <a href="http://www.avimarciano.net/">Avi Marciano</a></h5>

<ul>
<li><p><a href="https://archive.today/2LYGJ#selection-2429.302-2429.509">Network World, Sep 20, 2012</a>:</p>

<p><em>"We're putting out close to 8,000 cards per day. We have
18 machines running 24 hours per day, printing cards and encoding the
chips." About 118 million e-KTP records of citizens are now stored in
databases.</em></p></li>
</ul>
