<h5>Contributed by <a href="http://www.avimarciano.net/">Avi Marciano</a></h5>

<ul>
<li><p><a href="https://archive.today/CUR4s">BBC News Asia, 8 June 2012</a>:</p>

<p><em>Pakistan's experience with identity management</em></p></li>
</ul>
