<h5>Contributed by <a href="http://nirshman.com/">Nir Hirshman</a></h5>

<ul>
<li><p><a href="https://archive.today/2FkvP">EFF</a>:</p>

<p><em>The Netherlands' storage of a biometric database
<a href="http://www.rijksoverheid.nl/documenten-en-publicaties/kamerstukken/2011/09/26/beantwoording-kamervragen-over-verwijderen-vingerafdrukken-uit-de-decentrale-reisdocumentenadministraties.html">was suspended</a>
in 2011, following privacy concerns as well as questions over the reliability of biometric technology.</em></p></li>
</ul>
