<p>The <a href="https://en.wikipedia.org/wiki/Indonesian_identity_card">Indonesian identity card</a> wikipedia entry says:
<em>Fingerprints are recorded from each compulsory ID cards are all fingers
(of ten), but the data included in the chip only two fingers, the thumb and right index finger.</em></p>

<p>Since they record more information than they store on the card, this <em>most probably</em> implies
a biometric database.</p>
