<h5>Contributed by <a href="http://nirshman.com/">Nir Hirshman</a></h5>

<ul>
<li><p><a href="https://archive.today/rQHtQ">EFF</a>:</p>

<p><em>Success Story: Dismantling UK’s Biometric ID Database</em></p></li>
</ul>
