According to [Wikipedia](https://en.wikipedia.org/wiki/Biometric_passport#Countries_using_biometric_passports), citizens of *{{country.name}}* can/must have biometric passports [doesn't imply retaining biometric information].
