<h5>Contributed by <a href="http://t.co/4M0lzb8Sck">Jon Klinger</a></h5>

<ul>
<li><p><a href="https://archive.today/8TQeW#selection-621.0-621.252">Fox Business, October 14, 2014</a>:</p>

<p><em>After an avalanche of data breaches, South Korea's national identity card
system has been raided so thoroughly by thieves that the government says it
might have to issue new ID numbers to every citizen over 17 at a possible
cost of billions of dollars.</em></p></li>
</ul>
