<p>Pakistan's <em>National Database and Registration Authority</em> (<a href="https://en.wikipedia.org/wiki/National_Database_and_Registration_Authority#cite_note-National_Database_and_Registry_Authority-1">NARDA</a>) is responsible for issuing the computerized national identity cards to the citizens of Pakistan.
It <a href="https://archive.today/KiPAy">claims</a>
to hold the record for maintaining the largest biometric database of citizens in the world.</p>

<p>Strange, but <a href="country-in.html">India</a> also <a href="https://en.wikipedia.org/wiki/Countries_applying_biometrics#India">claims</a> that ;)</p>
