<h5>Contributed by Tazir</h5>

<ul>
<li><p><a href="https://archive.today/xezB4">PCWorld, Sep 11, 2014</a>:</p>

<p><em>The new Indian government has indicated strong support for a controversial project to
require residents to have biometric IDs in order to collect government benefits</em></p></li>
<li><p><a href="https://archive.today/jOsgG">Z News, September 12, 2014</a>:</p>

<p><em>An
<a href="https://en.wikipedia.org/wiki/Unique_Identification_Authority_of_India">Aadhaar</a>
card issued for 'Lord <a href="https://en.wikipedia.org/wiki/Hanuman">Hanuman</a>'</em></p>

<p><img src="https://archive.is/jOsgG/adabe8c2b9bee18f9a229f23fec4bc2a06dc43a5.jpg" alt="&quot;Lord Hanuman&quot;'s biometric card" title="" /></p></li>
</ul>
