<p>The Wikipedia entry <a href="https://en.wikipedia.org/wiki/Biometric_Database_Law">Biometric Databese Law</a>
deals with the Israeli law that might soon force all citizens to submit their biometric information
(2 fingerprints and a biometric facial photo) to a database.</p>

<p>You can read more about it <a href="http://english.no2bio.org">here</a>.</p>
