body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.rtl { direction:rtl }
.good { color:#336600 }
.bad { color:#CC0000 }
.complicated { color:#3333FF }
.rejected { color:#33CC00 }
